<!doctype html>
<html>

<head>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
</head>

<body>

{% for id in ids %}
    <h3>{{ id }}</h3>
    <div id="{{ id }}"></div>
{% endfor %}

</body>
<footer>
    <script type="text/javascript">

        const graphs = {{graphJSON | safe}};
        const ids = {{ids | safe}};

        for (const i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                graphs[i].data,
                graphs[i].layout || {});
        }

    </script>
</footer>

</html>
